.my-heading {
    color: #ffffff;
    font-size: 25px;
    padding-left: 10px;
}

.create-new-button {
    background-color: #ef5350;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 144px;
    height: 45px;
    font-size: 15px;
    
}
.employee-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2d2d2d;
    background-color: transparent;
    border-bottom: 1px solid #b7b1b1;
    padding:10px;
}
.employee-header{
    display:flex;
    background-color:#2e2e2e;
    padding:6px;
}
.employee{
    margin-right:200px;
    color:#ffffff;
}
.role{
    color:#ffffff;
    margin-left:58%;
}
.employee-img{
    height:50px;
    width:50px;
    border-radius:40px;
    margin-right: 10px;
}
.list-items{
    display:flex;
    background-color:#1e1e1e;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    align-items: center;
}
.list-details{
    display:flex;
    align-items: center;
    margin-right:20%;
    padding:10px;

}
.employee-body-container{
    width:90vw;
    background-color: transparent;
    padding:20px;
}