.vinay-container {
    display: flex;
}
.my-bg-container {
    background-color: #121212;
    padding: 10px;
    height: 100vh;
    width: 90vw;
    background-size: cover;
    
}
.all-zone-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2d2d2d;
}
.all-zones-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 25px;
}
.all-zones-left-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}
.all-zones-right-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.my-heading {
    color: #ffffff;
    font-size: 25px;
    padding-left: 10px;
}
.create-new-button {
    background-color: #ef5350;
    color: #ffffff;
    margin-right:10px;
    border: none;
    border-radius: 6px;
    width: 144px;
    height: 45px;
    font-size: 15px;
    
}
.all-zones-card-container {
    display: flex;
    background-color: #1e1e1e;
    border-radius: 3px;
    padding: 6px;
}
.all-zones-shopping-image {
    width: 140px;
    height: 75px;
    margin-right: 25px;
}

.all-zones-card-heading {
    color: #ffffff;
    font-size: 22px;
}
.all-zones-card-description {
    color: #ffffff;
}
.all-zones-floor-heading {
    color: #9e9e9e;
    font-size: 22px;
}
.all-zones-floor-description {
    color: #ffffff;
}
.three-dot-icon {
    color: #ffffff;
    font-size: 25px;
}