.home-container{
    background-color:#121212;
    background-size: cover;
    width: 100vw;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
.navbar-header{
    background-color: transparent;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.menu-container{
    display:flex;
    align-items:center;
}
.menu-icon{
    font-size: 20px;
    margin:10px;
    color:#b7b1b1;
}
.glieder-scan{
    color:#ffffff;
    font-family:"Roboto";
    font-size:25px;
}
.hr-line{
    
    border:1px solid #2d2d2d;
    width:100vw;

}
.content{
    display:flex;
    

}
.nav-content{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100vw;
}
.profile-container {
    display: flex; 
}
.admin-name {
    color: #ffffff;
    font-size: 23px;
    margin-right: 20px;
}
.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.pop-up-container {
    background-color: transparent;
    width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-button{
    background-color:transparent;
    border:none;
}
.logout-button{
    background-color: transparent;
    color:#b7b1b1;
    font-size:20px;
    border:none;
}
.profile-text{
    background-color: transparent;
    color:#b7b1b1;
    font-size:20px;
    
}